html, body {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.photoThumbnail img {
  max-width: 200px;
}

.photo-container img {
	max-width: 400px;
}

.pet-view-container {
	display: flex;
	justify-content: space-between;
}

.pet-info-container {
	flex-direction: column;
	padding-right: 45px;
}

.pet-info-container label {
	text-decoration: underline;
	font-weight: bold;
}

.profile-picture img {
	max-height: 300px;
}

body {
	background: #90a4ae;
}

#logo {
	font-size: 75px;
	font-family: 'Lobster', cursive;
	color: #fff;
}

span {
	font-family: 'Lobster', cursive;
}

.responsive-img img {
	padding-right: 30px;
	padding-top: 5px;
	padding-left: 15px;
}

.ReactModal__Overlay {
    z-index: 1000;
}

.sidenav {
	padding-top: 10px;
}

.nav-message {
	font-family: 'Lobster', cursive;
	padding: 25px;
}


.post_container {
	display: inline-flex;
	justify-content: space-between;
}

.view-photo {
	display: inline-flex;
	justify-content: space-between;
}

#user_posts, #global_posts, .comment-container {
	overflow-y: scroll;
}

#user_posts {
	position: absolute;
    left: 75px;
    top: 27.5%;
    right: 10%;
    width: 30%;
    max-height: 70%;
}

#global_posts {
	position: absolute;
    left: 40%;
    top: 27.5%;
    right: 10px;
    float: right;
    width: 50%;
    max-height: 70%;
}

.post_headers {
	font-family: 'Lobster', cursive;
	color: #1976d2;
}

.new_post {
	background-color: #546e7a;
}

.new_post_button {
	position: absolute;
	float: left;
}

.comment-title {
	font-size: 10px;
}

.photo-container {
	position: absolute;
    left: 75px;
    top: 5%;
    right: -15%;
    bottom: 1%;
    width: 60%;
    max-height: auto;
}

.comment-container {
	position: absolute;
    float: right;
    left: 65%;
    min-width: 100%;
    top: 10%;
}

.pet-photo {
	min-width: 95%;
	max-height: 95%;
	object-fit: contain;
}

.close {
	position: absolute;
	left: 96%;
}

.material-icons {
       vertical-align: bottom !important;
       align-self: right;
}

.created-on {
	position: relative;
	float: right;
	font-size: 15px;
	padding-left: 65%;
}

.created-by {
	font-size: 35px;
}

.comment-body {
	font-size: 25px;
}
